.home{
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionTop{
  display: flex;
  justify-content: center;
  
}

.sectionTop > span, 
.sectionBottom > span{
  font-size: 120px;
  font-weight: bold;
}

.sectionMiddle{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.navLeft, .navRight{
  display: flex;
  flex-direction: column;
}

.listContainer{
  width: 120px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listContainer > span > a{
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}


.navLeft > .listContainer:first-child {
  margin-top: 70px;
  margin-bottom: 100px;
}

.pictureContainer{
  margin: 0 100px 0 100px;
  width: 398px;
  height: 444px;
}

.square{
  position: absolute;
  width: 244px;
  height: 387px;
  background-color: #343A40;
  transform: translate(72px, 30px);
}

.picture{
  width: 70% !important;
}

.navRight > .listContainer{
  margin-top: 70px;
}

.sectionBottom{
  text-align: center;
  margin-top: -16px;
}


@media screen and (max-width: 768px) {
  .sectionTop > span, 
  .sectionBottom > span{
    font-size: 64px;
  }
}

@media screen and (max-width: 426px) {
  .sectionTop{
    margin-bottom: -20px;
  }

  .sectionTop > span, 
  .sectionBottom > span{
    font-size: 48px;
  }
}